body{
	background-color:#FDF9EC;
	width:absolute;
}

#header{
	display:flex;
	background-color:#800000;	
	justify-content:center;
	border-bottom: 1px solid;
}

#logo{
	height:100px;
	width:auto;
	border-radius:50px;
}

#header .subscribe{
	padding:20px;
	border-radius:50px;
	cursor:pointer;
	width:200px;
	height:2px;
	margin-top:25px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	color:green;
	position:relative;
	font-weight:bold;
	overflow:hidden;
	transition:all 0.3s ease;
	margin-right:10px;
}

.subscribe::after{
	position:absolute;
	background:rgba(255,255,255,0.3);
	transition:left 0.3s ease;
	top:0;
	left:-100%;
	width:100%;
	height:100%
}

.subscribe:hover::after{
	left:0;
}

.subscribe:hover::after{
	left:0;
}

.subscribe:hover{
	background-color:#218838;
}

.search-container{
	text-align:center;
}

#title{
	flex:1;
	font-family:'Inter', sans-serif;
	font-size:30px;
	text-align:center;
	margin-left:60px;
	font-weight:bold;
	color:white;
} 

@font-face{
	font-family: 'Inter';
	src:url('/fonts/Inter-Regular.woff2')format('woff2'),url('/fonts/Inter-Regular.woff')format('woff');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}

@font-face{
	font-family: 'Inter';
	src:url('/fonts/Inter-Regular.woff2')format('woff2'),url('/fonts/Inter-Regular.woff')format('woff');
	font-weight:400;
	font-style:normal;
	font-display:swap;
}

a{
	font-family:Arial;
	font-weight:bold;
	color:black;
	text-decoration:None;
	margin-right:50px;
	margin-bottom:5px;
}

#pages{
	text-align:center;
	margin-top:5px;
}

.search-input{
	border-radius:50px;
	width:80%;
	padding:10px;
	box-sizing:border-box;
	margin-bottom:10px;
	margin-top:10px;
}

.page-details{
	text-align:center;
	text-decoration:underline;
	font-size:25px;
}

#upcoming-matches{
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

#recently-finished-matches{
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

.blogs{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	gap:20px;
	background:#FDF9EC;
	overflow:hidden;
	position:relative;
}

.blogs-card{
	display:flex;
	flex-direction:column;
	width:100%;
	position:relative;
	border-radius:50px;
	overflow:hidden;
}

.blogs-title{
	font-size:20px;
	text-align:center;
}

.blogs-date{
	font-size:10px;
	text-align:center;
}

footer{
	text-align:center;
	font-size:10px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}