body{
	background-color:#FDF9EC;
	width:absolute;
}

#header{
	display:flex;
	background-color:#800000;	
	justify-content:center;
	border-bottom: 1px solid;
}

#logo{
	height:100px;
	width:auto;
	border-radius:50px;
}

#header .subscribe{
	padding:20px;
	border-radius:50px;
	cursor:pointer;
	width:200px;
	height:2px;
	margin-top:25px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	color:green;
	position:relative;
	font-weight:bold;
	overflow:hidden;
	transition:all 0.3s ease;
	margin-right:10px;
}

.subscribe::after{
	position:absolute;
	background:rgba(255,255,255,0.3);
	transition:left 0.3s ease;
	top:0;
	left:-100%;
	width:100%;
	height:100%
}

.subscribe:hover::after{
	left:0;
}

.subscribe:hover::after{
	left:0;
}

.subscribe:hover{
	background-color:#218838;
}

.search-container{
	text-align:center;
}

#title{
	flex:1;
	font-family:Arial;
	font-size:30px;
	text-align:center;
	margin-left:60px;
	font-weight:bold;
	color:white;
} 

a{
	font-family:Arial;
	font-weight:bold;
	color:black;
	text-decoration:None;
	margin-right:50px;
	margin-bottom:5px;
}

#pages{
	text-align:center;
	margin-top:5px;
}

.search-input{
	border-radius:50px;
	width:80%;
	padding:10px;
	box-sizing:border-box;
	margin-bottom:10px;
	margin-top:10px;
}

#upcoming-matches{
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

#recently-finished-matches{
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

.headtoheadsection #button #compare-button{
	border-radius:50px;
	background-color:white;
	margin-left:40%;
	width:15%;
	height:50px;
}

.headtoheadsection #first-player{
	display:flex;
	align-items:left;
	justify-content:left;
	font-family:Arial;
	font-weight:bold;
}

.headtoheadsection #second-player{
	display:flex;
	align-items:right;
	justify-content:right;
	font-family:Arial;
	font-weight:bold;
}

footer{
	text-align:center;
	font-size:10px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}
