body{
	background-color:#F8F8F4;
	width:absolute;
	font-family:'Poppins',sans-serif;
	color:#5D4037;
	text-decoration:thin;
}

#header{
	display:flex;	
	justify-content:center;
	border-bottom: 1px solid;
	font-family:'Poppins',sans-serif;
}

#logo{
	height:100px;
	width:auto;
	border-radius:50px;
}

#title{
	flex:1;
	font-size:30px;
	text-align:center;
	margin-right:100px;
	font-weight:bold;
} 

a{
	font-weight:bold;
	margin-right:50px;
	margin-bottom:5px;
}

#date-filter{
	position:absolute;
	right:10px;
	padding:5px;
	border-radius:10px;
	border:1px solid black;
	width:105px;
	font-family:Arial;
	background-color:#F8F8F4;
	color:#5D4037;
}

#pages{
	text-align:center;
	margin-top:5px;
}

.page-details{
	text-align:center;
	font-size:25px;
}

.nav-item{
	color:#5D4037;
	text-decoration:None;
	margin-left:40px;
}

#upcoming-matches{
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

#recently-finished-matches{
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}

.blogs{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	gap:20px;
	background:#FDF9EC;
	overflow:hidden;
	position:relative;
}

.blogs-card{
	display:flex;
	flex-direction:column;
	width:100%;
	position:relative;
	border-radius:50px;
	overflow:hidden;
}

.blogs-title{
	font-size:20px;
	text-align:center;
}

.blogs-date{
	font-size:10px;
	text-align:center;
}

footer{
	text-align:center;
	font-size:10px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}