---
import SearchBar from './SearchBar.astro';
---

<header class="bg-cricket text-white py-12">
  <div class="container mx-auto text-center">
    <h1 class="text-5xl font-bold mb-2">Cricket Crafted.</h1>
    <h2 class="text-4xl font-bold mb-6">Game by Game.</h2>
    <p class="text-xl mb-8">Pre and Post-Match Blogs with Analyst Precision</p>
    
    <SearchBar />
  </div>
</header>