body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: khaki;
    border: 2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

header{
    display: inline;
    text-align: center;
    color: darkblue;
    font-size: 1.2rem;
}

ul{
    list-style: none;
    text-align: center;
    padding: 0px;
}

li{
    display: inline-block;
    align-items: center;
    margin: 0 15px;
}

nav{
    display: inline;
}

form{
    margin-left: 90%;
    margin-top: 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

article{
	align-items: justify;
}

.About-section{
    display: flexbox;
}

h3{
	font-size: 1.5rem;
    color: darkblue;
    margin-bottom: 0px;
    margin-top: 1px;
    text-align: center;
}

h6{
    color: darkblue;
    text-align: center;
    font-size: 0.8rem;
}

p{
	text-align: justify;
	margin: 2%;
    color: darkblue;
}

footer{
    font-size: 0.6rem;
    color: darkblue;
    align-items: center;
}