<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>
            Analysis Before Wicket-all-blogs
        </title>
        <meta charset="UTF_8">
		<meta name="keywords" content="cricket, players, IPL, world cup, champions trophy, cwc, KL rahul">
		<meta http-equiv="Refresh" content="300">
		<link rel="stylesheet" href="style.css" type=text/css></link>
    </head>
    <body>
        <div id = "About-section">
            <h3>
                About us
            </h3>
            <p>
                I am a cricket enthusiast and an individual cricket analyst who not only loves the battle between bat and bowl, but also the clash of statistics, 
                number and permutation/combiantions. I have an educational background in Data science analytics hence i could start this merger of 
                analytics and cricket and turn my passion and love for cricket also an occupation.
            </p>
            <p>
                here we provide deep analysis of each and every cricket match which can be telecasted, from predicting best teams to player weaknesss
                to traps, match ups and all the other magic - numbers and combinations can do. 
            </p>
            <p>
                we are more than happy to be a part of your journey of loving a sport.
            </p>
            <p>
                Thankyou !!
            </p>
        </div>        
    </body>
</html>