<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Analysis before wicket
		</title>
		<meta charset="UTF_8">
		<meta name="keywords" content="cricket,players,IPL,world cup,champions trophy,cwc,KL rahul">
		<meta http-equiv="Refresh" content="300">
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<header>
			<h1>
				<center>
					Analysis Before Wicket
				</center>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="main.html">
							Home
						</a>
					</li>
					<li>
						<a href="aboutus.html">
							About-Us
						</a>
					</li>
				</ul>
				<form action="/subscribe" method="post">
					<label for="subscribe">Subscribe</label>
					<label class="switch">
						<input type="checkbox" name="subscribe" onchange="this.form.submit()">
						<span class="slider"></span>
					</label>
				</form>
			</nav>
		</header>
		<main>
			<article>
				<div id = "blog-container">
					{% for blogs in blog_details %}
						<h4>{{blogs['blog_title']}}</h4>
						<p>{{blogs['blog_content']}}</p>
					{% endfor %}
				</div>
			</article>
		</main>
	</body>
	<footer>
		<p>
			<center>
				&copy; All Rights Reserved 2025. &#128512
			</center>
		</p>
		<p>
			<center>
				<b>Contact Us</b>: awb@disroot.com
			</center>
		</p>
	</footer>
</html>